.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #1a8f68;
    height: 60px;

        a {
            color: #fff;
            text-decoration: none;
            font-size: 1.2rem;
        }

        a:hover {
            text-decoration: underline;
        }

        h2 {
            color: #fff;
        }
}
